.vscode/**
.vscode-test/**
src/**
node_modules/**
!node_modules/node-pty/**
.gitignore
*.map
*.ts
tsconfig.json
*.md
.husky/**
.editorconfig
.eslintcache
eslint.config.mjs
.prettierrc.json
.prettierignore
.github/**
.claude/**
*.vsix
